@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  background-color: #eaf2fd;
  background-image: linear-gradient(135deg, #eaf2fd 0%, #d6e4f0 100%);
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.home-header {
  margin-bottom: 2rem;
}

.main-title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #3a4f66;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: #555;
  text-align: center;
}

.main-content {
  background: #ffffff;
  border-radius: 20px;
  padding: 3rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.1);
  transition: transform 0.3s ease-in-out;
}

.main-content:hover {
  transform: translateY(-5px);
}

.description {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: #555;
}

.features-section {
  margin-top: 1rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.feature-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 30%;
  margin-bottom: 1rem;
}

.feature-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #007bff;
  margin-bottom: 0.5rem;
}

.feature-description {
  font-size: 1rem;
  color: #555;
}

.cta-button {
  display: inline-block;
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.home-footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  color: #777;
  margin-top: 2rem;
}

.footer-links {
  margin-top: 1rem;
}

.footer-link {
  margin: 0 0.5rem;
  color: #0056b3;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-link:hover {
  color: #003580;
  transform: scale(1.1);
}

.benefits-explanation {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.benefits-text {
  font-size: 1rem;
  line-height: 1.8;
  color: #444444;
  text-align: left;
  position: relative;
}

.benefits-text h3 {
  color: #007bff;
  margin-bottom: 1rem;
  border-bottom: 2px solid #007bff;
  padding-bottom: 0.5rem;
}

.benefits-text p {
  margin-bottom: 1rem;
  text-indent: 20px;
}

.benefits-text ul {
  list-style-type: none;
  padding: 0;
}

.benefits-text li {
  background-color: #f0f8ff;
  margin-bottom: 0.5rem;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  padding-left: 30px;
}

.benefits-text li::before {
  content: "✓";
  color: #007bff;
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .main-title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.3rem;
  }

  .main-content {
    padding: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
  }

  .features-grid {
    grid-template-columns: 1fr;
  }

  /* Estilo para el icono del menú hamburguesa */
  @media (max-width: 768px) {
    .menu-button {
      display: block;
      position: fixed;
      top: 10px; /* 10px desde la parte superior de la pantalla */
      right: 20px; /* 20px desde la parte derecha de la pantalla */
      z-index: 1001; /* Asegura que el botón se superponga sobre otros elementos */
      cursor: pointer;
    }

    /* Menú de navegación */
    .nav-menu {
      display: none; /* Se oculta inicialmente */
      flex-direction: column;
      position: absolute; /* Posición absoluta respecto al botón */
      top: 40px; /* Asegura que el menú aparezca justo debajo del icono de hamburguesa */
      right: 10px; /* Alineado con el botón hamburguesa */
      background: white;
      padding: 10px;
      border-radius: 4px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      min-width: 200px; /* Ajusta el tamaño del menú */
      z-index: 1000; /* Asegura que el menú esté sobre otros elementos */
    }

    /* Menú visible cuando tiene la clase 'open' */
    .nav-menu.open {
      display: flex;
    }

    .nav-menu a {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #eee;
    }

    .nav-menu a:last-child {
      border-bottom: none;
    }
  }
}
